.main {
  min-height: 100vh;
  background-color: #333333;
  display: flex;
  overflow: hidden;
}

.leftMainDiv {
  background-color: rgb(25, 25, 25);
  width: 25rem;
  height: 100vh;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 2rem 0;
  position: absolute;
  z-index: 10;
}

.contentBox {
  background-color: rgb(40, 40, 40);
  overflow-y: scroll;
  height: calc(100vh - 4rem);
  width: 100%;
  padding: 2rem;
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  box-shadow: inset 0px 11px 8px -10px black, inset 0px -11px 8px -10px black;
}

.contentBox::-webkit-scrollbar {
  display: none;
}

.animateLeftDivIn {
  animation: animateIn 0.5s ease-in-out;
  left: 0rem;
}

.animateLeftDivOut {
  animation: animateOut 0.5s ease-in-out;
  left: -25rem;
}

@keyframes animateIn {
  0% {
    left: -25rem;
  }
  100% {
    left: 0rem;
  }
}

@keyframes animateOut {
  0% {
    left: 0rem;
  }
  100% {
    left: -25rem;
  }
}

.animateArrowButtonIn {
  transform: rotate(180deg);
  animation: animateArrowButtonIn 0.5s ease-in-out;
}

.animateArrowButtonOut {
  transform: rotate(0deg);
  animation: animateArrowButtonOut 0.5s ease-in-out;
}

@keyframes animateArrowButtonIn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes animateArrowButtonOut {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.arrowContainer {
  background-color: rgb(25, 25, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: -5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.arrowButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.arrowTop,
.arrowBottom {
  width: 0.3rem;
  height: 2rem;
  background-color: white;
}

.arrowTop {
  transform: rotate(-45deg) translateX(-0.5rem);
}

.arrowBottom {
  transform: rotate(45deg) translateX(-0.5rem);
}

.centerMainDiv {
}

.rightMainDiv {
  background-color: rgb(40, 40, 40);
}

.flexInputFields {
  display: flex;
  justify-content: space-around;
}

.sliderDivComp {
  min-width: 21rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .leftMainDiv {
    width: 100vw;
    height: calc(60vh);
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    bottom: inherit;
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .arrowContainer {
    bottom: -5rem;
    width: 5rem;
    height: 5rem;
    right: unset;
    border-top-right-radius: unset;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .arrowButton {
    top: auto;
    right: auto;
    transform: rotate(-90deg);
  }

  .colorInputComp {
    margin: 2rem;
  }

  .animateLeftDivIn {
    animation: animateInMobile 0.5s ease-in-out;
    top: 0rem;
    left: inherit;
  }

  .animateLeftDivOut {
    animation: animateOutMobile 0.5s ease-in-out;
    top: -60vh;
    left: inherit;
  }

  @keyframes animateInMobile {
    0% {
      top: -60vh;
    }
    100% {
      top: 0rem;
    }
  }

  @keyframes animateOutMobile {
    0% {
      top: 0rem;
    }
    100% {
      top: -60vh;
    }
  }

  .animateArrowButtonIn {
    transform: rotate(-90deg);
    animation: animateArrowButtonIn 0.5s ease-in-out;
  }

  .animateArrowButtonOut {
    transform: rotate(90deg);
    animation: animateArrowButtonOut 0.5s ease-in-out;
  }

  @keyframes animateArrowButtonIn {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(-90deg);
    }
  }

  @keyframes animateArrowButtonOut {
    0% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }
}
